<a href="https://colab.research.google.com/github/krakowiakpawel9/ml_course/blob/master/cont/000_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### scikit-learn  
Website: [https://scikit-learn.org/](https://scikit-learn.org/)

In [0]:
# !pip install --upgrade scikit-learn

In [2]:
import numpy as np
import pandas as pd
import sklearn
sklearn.__version__

'0.22.1'

In [3]:
data={'size': ['XL', 'L', 'M', 'L', 'M'],
      'color': ['red', 'green', 'blue', 'green', 'red'],
      'gender': ['female', 'male', 'male', 'female', 'female'],
      'price': [199.0, 89.0, 99.0, 129.0, 79.0],
      'bought': ['yes', 'no', 'yes', 'no', 'yes']}

df_raw = pd.DataFrame(data=data)
df = df_raw.copy()
df

  size  color  gender  price bought
0   XL    red  female  199.0    yes
1    L  green    male   89.0     no
2    M   blue    male   99.0    yes
3    L  green  female  129.0     no
4    M    red  female   79.0    yes

In [4]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le.fit(df['bought'])
le.transform(df['bought'])

array([1, 0, 1, 0, 1])

In [5]:
le.fit_transform(df['bought'])

array([1, 0, 1, 0, 1])

In [6]:
le.classes_

array(['no', 'yes'], dtype=object)

In [7]:
df['bought'] = le.fit_transform(df['bought'])
df

  size  color  gender  price  bought
0   XL    red  female  199.0       1
1    L  green    male   89.0       0
2    M   blue    male   99.0       1
3    L  green  female  129.0       0
4    M    red  female   79.0       1

In [8]:
le.inverse_transform(df['bought'])

array(['yes', 'no', 'yes', 'no', 'yes'], dtype=object)

In [9]:
df['bought'] = le.inverse_transform(df['bought'])
df

  size  color  gender  price bought
0   XL    red  female  199.0    yes
1    L  green    male   89.0     no
2    M   blue    male   99.0    yes
3    L  green  female  129.0     no
4    M    red  female   79.0    yes